body {
    $heights: ($header-min-height + $footer-min-height);

    >.site {
        .wrapper{
            &:nth-child(2) {
                min-height: calc(100vh - #{$heights});
            }
        }
    }
    
    &.admin-bar {
        $heights: $heights + 32px;
        >.site {
            .wrapper{
                &:nth-child(2) {
                    min-height: calc(100vh - #{$heights});
                }
            }
        }        
    }
    
}