body {
    $heights: ($header-min-height + $footer-min-height);

    &.admin-bar {
        $heights: $heights + 32px;
    }

    >.site {
        .wrapper{
            &:nth-child(2) {
                min-height: calc(100vh - #{$heights});
            }
        }
    }

}